.mat-body{
    margin-top:20px;
}

#update-modal-content{
    height: 90%;
    overflow-y: auto;
}

#update-modal-footer{
    height: 10%;
}

.alert{
    color:red;
}

::ng-deep.mat-items{
    display:flex;
}

@media screen and (min-width : 576px){
    .input-number-field{
        padding-left:12px;
        margin-top: -23px;
    }

    .mat-items{
        margin-top: 23px;
    }
}

@media screen and (max-width:575px) {
    ::ng-deep.mat-items{
        display:flex;
        flex-flow: column;
    }
}

