<router-outlet>
    <div class="content" role="main">
        <form id="" [formGroup]="settingsAccountPasswordForm">
            <div id="account-settings">
                <mat-card>
                    <mat-card-title>
                        <h2>パスワードを変更する</h2>
                    </mat-card-title>

                    <mat-card-content id="mat-card-content">
                        <div *ngIf="oldPassword.invalid && (oldPassword.dirty || oldPassword.touched)" class="alert">
                            <div *ngIf="oldPassword.errors?.['required']">
                                パスワードを入力してください。
                            </div>
        
                            <div *ngIf="oldPassword.errors?.['maxLength']">
                                パスワードの最大文字数は100文字です。
                            </div>
                        </div>

                        <div *ngIf="oldPassword.errors?.['noPassword']" class="alert">
                            入力されたパスワードが正しくありません。
                        </div>

                        <div>
                            <div>
                                <mat-label>現在のパスワード</mat-label>  
                            </div>
                            <div>
                                <mat-form-field appearance="outline">
                                    <mat-label for="oldPassword">パスワード:</mat-label>
                                    <input #OldPassword matInput id="oldPassword" type="password" formControlName="oldPassword" 
                                    (blur)="oldPasswordBlur(OldPassword.value)" [type]="passwordVisibleFlag ? 'password' : 'text'">
                                    <button mat-icon-button matSuffix (click)="passwordVisibleFlag = !passwordVisibleFlag" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="passwordVisibleFlag">
                                        <mat-icon>{{passwordVisibleFlag ? 'visibility_off' : 'visibility'}}</mat-icon>
                                    </button>
                                </mat-form-field>
                            </div>
                        </div>

                        <div *ngIf="newPassword.invalid && (newPassword.dirty || newPassword.touched)" class="alert">
                            <div *ngIf="newPassword.errors?.['required']">
                                新しいパスワードを入力してください。
                            </div>
        
                            <div *ngIf="newPassword.errors?.['maxLength']">
                                新しいパスワードの最大文字数は100文字です。
                            </div>
                        </div>

                        <div *ngIf="newPassword.errors?.['alreadyUsedPassword']" class="alert">
                            現パスワードと違うパスワードをご入力ください。
                        </div>

                        <div id="password-forget-message">
                            <p routerLink="/password/reset">パスワードをお忘れの方</p>
                        </div>

                        <div>
                            <div>
                                <mat-label>新しいパスワード</mat-label>
                            </div>
                            <div>
                                <mat-form-field appearance="outline">
                                    <mat-label for="newPassword">新しいパスワード:</mat-label>
                                    <input #NewPassword matInput id="newPassword" type="password" formControlName="newPassword" 
                                    (blur)="newPasswordBlur(NewPassword.value)" [type]="newPasswordVisibleFlag ? 'password' : 'text'">
                                    <button mat-icon-button matSuffix (click)="newPasswordVisibleFlag = !newPasswordVisibleFlag" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="newPasswordVisibleFlag">
                                        <mat-icon>{{newPasswordVisibleFlag ? 'visibility_off' : 'visibility'}}</mat-icon>
                                    </button>
                                </mat-form-field>
                            </div>                         
                        </div>

                        <div *ngIf="reenterNewPassword.invalid && (reenterNewPassword.dirty || reenterNewPassword.touched)" class="alert">
                            <div *ngIf="reenterNewPassword.errors?.['required']">
                                新しいパスワードの再入力を入力してください。
                            </div>
        
                            <div *ngIf="reenterNewPassword.errors?.['maxLength']">
                                新しいパスワードの再入力の最大文字数は100文字です。
                            </div>
                        </div>

                        <div *ngIf="reenterNewPassword.errors?.['notSameNewPassword']" class="alert">
                            新しいパスワードとの値が異なります。           
                        </div>

                        <div>
                            <div>
                                <mat-label appearance="outline">
                                    新しいパスワードの再入力
                                </mat-label>
                            </div>
                            <div>
                                <mat-form-field appearance="outline">
                                    <mat-label for="reenterNewPassword">新しいパスワード:</mat-label>
                                    <input #ReenterNewPassword matInput id="reenterNewPassword" type="password" formControlName="reenterNewPassword" 
                                    (blur)="reenterNewPasswordBlur(ReenterNewPassword.value)" [type]="reenterNewPasswordVisibleFlag ? 'password' : 'text'">
                                    <button mat-icon-button matSuffix (click)="reenterNewPasswordVisibleFlag = !reenterNewPasswordVisibleFlag" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="reenterNewPasswordVisibleFlag">
                                        <mat-icon>{{reenterNewPasswordVisibleFlag ? 'visibility_off' : 'visibility'}}</mat-icon>
                                    </button>
                                </mat-form-field>
                            </div>
                        </div>
                    </mat-card-content>

                    <mat-card-content>
                        <button class="mat-raised-button" mat-button (click)="changePasswordButtonClick()">変更</button>
                        <button id="cancel-button" class="mat-raised-button" mat-button routerLink="/settings/account">キャンセル</button>
                    </mat-card-content>
        
                </mat-card>
            </div>
        </form>
    </div>
</router-outlet>
