.content {
    margin: 82px auto 32px;
    padding:30px;
}

#mat-card-content{
    padding-top:10px;
}

.mat-card-contents{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.mat-card-value{
    margin-left:10px;
    margin-top: 3px;
}

.alert{
    color:red;
}

#cancel-button{
    margin-left:10px;
}

::ng-deep.mat-form-field{
    width:100%;
}

/* .mat-card-contents p{
    margin-left: auto;
} */

@media screen and (min-width:900px){
    #account-settings{
        width: 50%;
        margin: 0 auto;
    }
}