<router-outlet>
    <div class="content" role="main">
        <div id="account-settings">
            <mat-card>
                <mat-card-title>
                    <h2>アカウント情報</h2>
                </mat-card-title>

                <mat-divider>

                </mat-divider>
                <mat-card-content id="mat-card-content">
                    <div>
                        <div class="mat-card-contents">
                            <h3>ユーザー名</h3>
                            <p class="mat-card-value">{{userName}}</p>
                            <p class="mat-card-value" routerLink="/settings/account/username">変更する</p>
                        </div>
    
                        <div class="mat-card-contents">
                            <h3>メールアドレス</h3>
                            <p class="mat-card-value">{{mail}}</p>
                            <p class="mat-card-value">変更する</p>
                        </div>
    
                        <div class="mat-card-contents">
                            <h3>パスワード</h3>
                            <p class="mat-card-value">{{asteriskPassword}}</p>
                            <p class="mat-card-value">変更する</p>
                        </div>
                    </div>
                </mat-card-content>
    
            </mat-card>
        </div>
    </div>
</router-outlet>
