.content {
    margin: 82px auto 32px;
    padding:30px;
}

.alert{
    color:red;
}

#button{
    display: flex;
    margin-top:20px;
}

#cancel-button{
    margin-left:8px;
}

@media screen and (min-width: 900px){
    /** ログインフォーム **/
    #signup-form{
        width:50%;
        margin:0 auto;
    }
}