.mat-body{
    margin-top:20px;
}

#add-modal-content{
    height: 90%;
    overflow-y: auto;
}

#add-modal-footer{
    height: 10%;
}

.alert{
    color:red;
}

::ng-deep .success-snackbar{
    background-color: pink;
    white-space: pre-wrap;
}
