<router-outlet>
<div class="content" role="main">
    <div id="content-header" style="display:flex;">

      <form id="filter-textbox" class="example-form" [formGroup]="filterSerachForm">
        <mat-form-field appearance="fill" class="example-full-width">
          <mat-label for="searchName">フィルター </mat-label>
          <input matInput #filter type="text" id="filter" formControlName="searchName" (input)="filterInput(filter.value)">
        </mat-form-field>
      </form>

      <mat-form-field appearance="fill">
        <mat-label>列名</mat-label>
        <mat-select #columnName [(value)]="selectionColumnName" (selectionChange)="selectorColumnNameChange(columnName.value)">
          <mat-option [value]="columnName" *ngFor="let columnName of columnNames">{{columnName}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <button mat-icon-button id="add_button" (click)="addClick()"  class="mat-mini-fab" matTooltip="設定情報追加">
        <mat-icon class="mat-icon notranslate material-icons mat-ligature-font mat-icon-no-color">
          add_box
        </mat-icon>
      </button>

      <span matripple="" class="mat-ripple mat-button-ripple mat-button-ripple-round"></span>
      <span class="mat-button-focus-overlay"></span>
    </div>

    <div id="setting-info-table">
      <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
        <ng-container matColumnDef="title">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> {{settingName}} </th>
          <td mat-cell *matCellDef="let element">
            <span id="mat-header-content">{{settingName}}</span>
            <span>{{element.title}} </span>
          </td>
        </ng-container>

        <ng-container matColumnDef="carName">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> {{carName}} </th>
          <td mat-cell *matCellDef="let element">
            <span id="mat-header-content">{{carName}}</span>
            <span>{{element.carName}} </span>
          </td>
        </ng-container>

        <ng-container matColumnDef="carse">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> {{course}} </th>
          <td mat-cell *matCellDef="let element">
            <span id="mat-header-content">{{course}}</span>
            <span>{{element.course}}</span>
          </td>
        </ng-container>

        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef></th>
          <td id="mat-header-cell"  mat-cell *matCellDef="let element;">
            <button mat-icon-button (click)="updateClick(element)" id="update-button" class="mat-button-wrapper mat-mini-fab" matTooltip="設定情報更新">
              <mat-icon class="mat-icon notranslate material-icons mat-ligature-font mat-icon-no-color">open_in_new</mat-icon>
            </button>
            <button mat-icon-button (click)="deleteClick(element)" class="mat-button-wrapper mat-mini-fab" matTooltip="設定情報削除">
              <mat-icon class="mat-icon notranslate material-icons mat-ligature-font mat-icon-no-color">delete_outline</mat-icon>
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>

      <mat-paginator [pageSizeOptions]=pageSizeOptions
          showFirstLastButtons
          aria-label="Select page of periodic elements">
      </mat-paginator>
    </div>
</div>
</router-outlet>

