:host {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 8px 0;
  }

  p {
    margin: 0;
  }

  .spacer {
    flex: 1;
  }

  .toolbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    display: flex;
    align-items: center;
    background-color: #1976d2;
    color: white;
    font-weight: 600;
  }

  .toolbar img {
    margin: 0 16px;
  }

  .toolbar #twitter-logo {
    height: 40px;
    margin: 0 8px;
  }

  .toolbar #youtube-logo {
    height: 40px;
    margin: 0 16px;
  }

  .toolbar #twitter-logo:hover,
  .toolbar #youtube-logo:hover {
    opacity: 0.8;
  }

  .content {
    margin: 82px auto 32px;
    padding:30px;
  }

  svg.material-icons {
    height: 24px;
    width: auto;
  }

  svg.material-icons:not(:last-child) {
    margin-right: 8px;
  }

  .card svg.material-icons path {
    fill: #888;
  }

  .card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 16px;
  }

  svg#rocket {
    width: 80px;
    position: absolute;
    left: -10px;
    top: -24px;
  }

  svg#rocket-smoke {
    height: calc(100vh - 95px);
    position: absolute;
    top: 10px;
    right: 180px;
    z-index: -10;
  }

  svg#clouds {
    position: fixed;
    bottom: -160px;
    left: -230px;
    z-index: -10;
    width: 1920px;
  }

  #content-header{
    display:flex;
    flex-wrap:wrap;
    align-items:baseline;
  }

  table{
    width:100%;
  }

  #header-title{
    padding-left:30px;
  }

  #toolbar{
    background-color: red;
  }

  #add_button{
    margin-bottom:10px;
    margin-right:0;
    margin-left: auto;
    display: block;
  }

  #setting-info-table th{
    background-color: whitesmoke;
  }

  #setting-info-table th:nth-child(-n+3){
    border-right: 1px solid white;
    border-right-color: rgba(0, 0, 0, 0.12);
  }

  #setting-info-table th:not(:nth-child(1)),#setting-info-table td:not(:nth-child(1)){
    padding-left:25px;
  }

   /** 列名 **/
  .mat-form-field{
    margin-left:10px;
  }

  #mat-header-content{
    display: none;
  }

  td.mat-start-cell img{
    width: 250px;      
    height:100%
  }

  /* mat-card{
    width: fit-content;
    max-width: 600px;
  } */

  /* Responsive Styles */
  @media screen and (max-width: 767px) {
    .card-container > *:not(.circle-link) ,
    .terminal {
      width: 100%;
    }

    .card:not(.highlight-card) {
      height: 16px;
      margin: 8px 0;
    }

    .card.highlight-card span {
      margin-left: 72px;
    }

    svg#rocket-smoke {
      right: 120px;
      transform: rotate(-5deg);
    }
  }

  @media screen and (max-width: 575px) {
    svg#rocket-smoke {
      display: none;
      visibility: hidden;
    }

    td.mat-start-cell{
      display: grid;
    }

    td.mat-start-cell img{
      width: 100%;
      height:210px;
    }

    td.mat-cell{
      display: grid;
      grid-template-columns: 50% 50%;
      padding: 0.5rem;
      text-align: right;
      word-break: break-word;
    }

    .mat-header-row{
      display:none;
    }

    #mat-header-cell{
      border-bottom-width: 5px;
    }

    #mat-header-content{
      display: block;
      text-align: left;
    }

    /** 更新ボタン**/
    #update-button{
      margin-left:auto;
    }
  }
