<div class="content" role="main">
    <form id="sendPasswordResetMail-form" (ngSubmit)="submitSendPasswordResetMailForm()" [formGroup]="sendPasswordResetMailForm" autocomplete="off" >
    
        <mat-card>
            <mat-card-title>
                <h2>パスワードをお忘れの方</h2>
            </mat-card-title>

            <mat-card-content>
                <div *ngIf="mail.invalid && (mail.dirty || mail.touched)" class="alert">
                    <div *ngIf="mail.errors?.['required']">
                        メールアドレスを入力してください。
                    </div>

                    <div *ngIf="mail.errors?.['email']">
                        正しいメールアドレスではございません。
                    </div>

                    <div *ngIf="mail.errors?.['maxLength']">
                        メールアドレスの最大文字数は100文字です。
                    </div>
                </div>

                <div *ngIf="mail.errors?.['existMail']" class="alert">
                    入力されたメールは登録されておりません。
                </div>

                <div>
                    <mat-form-field appearance="fill" style="display: block;">
                        <mat-label for="mail">メールアドレス</mat-label>
                        <input matInput id="mail" type="email" formControlName="mail" (blur)="mailBlur(mail.value)">
                    </mat-form-field>
                </div>

                <div id="sendPasswordResetMail-button">
                    <button mat-button class="mat-raised-button">パスワード再設定用メール送信</button>
                </div>
                
            </mat-card-content>
        </mat-card>
    </form>
</div>